In [2]:
import pandas as pd
import numpy as np

In [3]:
df = pd.read_csv('../../src/data/zillow_data.csv')

In [4]:
df.shape

(14723, 272)

In [5]:
df.head(2)

,RegionID,RegionName,City,State,Metro,CountyName,SizeRank,1996-04,1996-05,1996-06,...,2017-07,2017-08,2017-09,2017-10,2017-11,2017-12,2018-01,2018-02,2018-03,2018-04
0,84654,60657,Chicago,IL,Chicago,Cook,1,334200.0,335400.0,336500.0,...,1005500,1007500,1007800,1009600,1013300,1018700,1024400,1030700,1033800,1030600
1,90668,75070,McKinney,TX,Dallas-Fort Worth,Collin,2,235700.0,236900.0,236700.0,...,308000,310000,312500,314100,315000,316600,318100,319600,321100,321800

In [6]:
def get_datetimes(df):
    return pd.to_datetime(df.columns.values[7:], format='%Y-%m')

In [7]:
def melt_data(df):
    melted = pd.melt(df, id_vars=['RegionID','RegionName', 'City', 'State', 'Metro', 'CountyName','SizeRank'], var_name='time')
    melted['time'] = pd.to_datetime(melted['time'], infer_datetime_format=True)
    melted = melted.dropna(subset=['value'])
    return melted

In [8]:
df_lf = melt_data(df)

In [9]:
df_lf.shape

(3744704, 9)

In [21]:
df_lf[df_lf.RegionName == 79936]

,RegionID,RegionName,City,State,Metro,CountyName,SizeRank,time,value
4,93144,79936,El Paso,TX,El Paso,El Paso,5,1996-04-01,77300.0
14727,93144,79936,El Paso,TX,El Paso,El Paso,5,1996-05-01,77300.0
29450,93144,79936,El Paso,TX,El Paso,El Paso,5,1996-06-01,77300.0
44173,93144,79936,El Paso,TX,El Paso,El Paso,5,1996-07-01,77300.0
58896,93144,79936,El Paso,TX,El Paso,El Paso,5,1996-08-01,77400.0
...,...,...,...,...,...,...,...,...,...
3827984,93144,79936,El Paso,TX,El Paso,El Paso,5,2017-12-01,120300.0
3842707,93144,79936,El Paso,TX,El Paso,El Paso,5,2018-01-01,120300.0
3857430,93144,79936,El Paso,TX,El Paso,El Paso,5,2018-02-01,120500.0
3872153,93144,79936,El Paso,TX,El Paso,El Paso,5,2018-03-01,121000.0
3886876,93144,79936,El Paso,TX,El Paso,El Paso,5,2018-04-01,121500.0

In [12]:
df_lf[df_lf.SizeRank == 2]

,RegionID,RegionName,City,State,Metro,CountyName,SizeRank,time,value
1,90668,75070,McKinney,TX,Dallas-Fort Worth,Collin,2,1996-04-01,235700.0
14724,90668,75070,McKinney,TX,Dallas-Fort Worth,Collin,2,1996-05-01,236900.0
29447,90668,75070,McKinney,TX,Dallas-Fort Worth,Collin,2,1996-06-01,236700.0
44170,90668,75070,McKinney,TX,Dallas-Fort Worth,Collin,2,1996-07-01,235400.0
58893,90668,75070,McKinney,TX,Dallas-Fort Worth,Collin,2,1996-08-01,233300.0
...,...,...,...,...,...,...,...,...,...
3827981,90668,75070,McKinney,TX,Dallas-Fort Worth,Collin,2,2017-12-01,316600.0
3842704,90668,75070,McKinney,TX,Dallas-Fort Worth,Collin,2,2018-01-01,318100.0
3857427,90668,75070,McKinney,TX,Dallas-Fort Worth,Collin,2,2018-02-01,319600.0
3872150,90668,75070,McKinney,TX,Dallas-Fort Worth,Collin,2,2018-03-01,321100.0
3886873,90668,75070,McKinney,TX,Dallas-Fort Worth,Collin,2,2018-04-01,321800.0

In [19]:
df[df.RegionName == 79936]

,RegionID,RegionName,City,State,Metro,CountyName,SizeRank,1996-04,1996-05,1996-06,...,2017-07,2017-08,2017-09,2017-10,2017-11,2017-12,2018-01,2018-02,2018-03,2018-04
4,93144,79936,El Paso,TX,El Paso,El Paso,5,77300.0,77300.0,77300.0,...,119100,119400,120000,120300,120300,120300,120300,120500,121000,121500